*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
 }
/* font style */
 body{
    font-family: 'Montserrat', sans-serif;
 }
 /* -----HEADER----- */
header{
    background-color: rgba(255,105,0,1);
    box-shadow: 0 0 10px 2px black;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;
}
/* size container header */
 .container_header{
    width: 70%;
    margin: auto;
 }
 /* size and flex properties */
 .row_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px;
 }
/* size col logo */
 .col_logo{
   margin-right: 15px;
 }
 /* size logo */
 .logo{
    width: 150px;
 }
 /* inlie block header itmes */
 .inline_block{
    display: inline-block;
 }
/* color and style text */
 .row_header a{
   text-decoration: none;
   color: white;
 }
 /* margin nav */
 .margin_horizontal_item{
    margin: 0px 5px;
 }
 /* margin profile */
 .col_profilo>a{
    margin: 0px 2px;
 }

 /* -----MAIN----- */
 main{
    margin-top: 150px;
 }
/* size container main */
 .container_main{
    width: 70%;
    margin: auto;
 }
/* size, position and cald col card */
 .col_card{
    width: calc(100% / 3 - 20px);
    margin: 30px 10px;
    position: relative;
 }
/* size and flex properties */
 .row_main{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
 }
 /* size img main */
 .img_main{
    width: 100%;
 }
/* color red price */
 .red_price{
    color: red;
 }
/* decoration barred price */
 .barred_price{
    text-decoration: line-through;
 }
/* possitio, color and size discount */
 .discount{
    position: absolute;
    bottom: 16%;
    left: 0;
    background-color: red;
    padding: 2px 5px;
    color: white;
    font-size: 20px;
 }
/* position, color, size of sustainability and sustainability only  */
 .sustainability, .sustainability_only{
    position: absolute;
    bottom: 16%;
    background-color: green;
    padding: 2px 5px;
    color: white;
    font-size: 20px;
 }
/* positio sustainability */
 .sustainability{
    left: 15%;
 }
/* position sustainability only */
 .sustainability_only{
    left: 0;
 }
/* position, size and color heart */
 .heart{
    position: absolute;
    right: 0;
    top: 2%;
    font-size: 35px;
    background-color: white;
    padding: 0 12px 0 12px;
 }
/* heart hover color red */
 .heart:hover{
    color: red;
 }
/* visible card block */
 .visible{
    display: block;
 }
/* invisible card block */
 .invisible{
    display: none;
 }
/* col cared hover of visible none */
 .col_card:hover .visible{
    display: none;
 }
/* col cared hover of invisible block */
 .col_card:hover .invisible{
    display: block;
 }

 /* -----FOOTER----- */
 /* color and size footer */
 footer{
    background-color: rgba(26,26,26,1);
    margin-top: 30px;
 }
/* color and size container footer */
 .container_footer{
    width: 70%;
    margin: auto;
    color: white;
 }
/* flex properties row footer */
 .row_footer{
    display: flex;
    justify-content: space-between;
 }
/* size col info and col social */
 .col_info, .col_social{
    padding: 25px 0 5px 0;
 }
/* size boolean s.r.l */
 .company{
   font-size: 22px;
 }
/* style and color text footer */
 .row_footer a{
   text-decoration: none;
   color: white;
 }
/* vertical margin */
 .margin_vertical_item{
    margin: 20px 0px;
 }
/* horizontal margin */
 .margin_horizontal_item{
    margin: 0px 10px;
 }
/* ssocial logo size */
 .social_logo{
    font-size: 130%;
 }
/* left margin */
 .margin_left{
    margin-left: 10px;
 }
/* right margin */
 .margin_right{
    margin-right: 10px;
 }